<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSl_bm31VQnuMS3PlGxwrK-QyCRG4SuR4</string>
	<key>GCM_SENDER_ID</key>
	<string>955833773201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.flyfolio</string>
	<key>PROJECT_ID</key>
	<string>fly-folio-1-6518e</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-folio-1-6518e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955833773201:ios:0e683eae78649abaa5e330</string>
</dict>
</plist>